:root {
    --white: #ffffef;
    --darkblue: #121481;
    --smoothblue:rgba(202, 244, 255,0.5);
  }

.nav-color{
    background-color: var(--darkblue);
}
.font-white{
    color: var(--white);
}
.font-blue{
    color: var(--darkblue)
}
.hhgghggh{
    background: #000;
}
.logo-img {
    border: 1px solid #000;
    border-radius: 50%;
    background-color: white;
    padding: .3rem;
}
.bg-blue{
    background-color: var(--darkblue);
}
button {
    border-radius: 90px;
}
a{
    text-decoration-style: none;
    text-decoration: none !important;
    list-style: none;
}
.bg-smootblue{
    background-color: var(--smoothblue);
}